@import url("../styles/fonts.css");

#status{
    font-family: Departure NerdFont;
    width: fit-content;
    border-style: outset;
    background-color:bisque;
    border-color: beige;
    p{
        text-align: left;
        margin: 0%;
    }
    p.header{
        float: left;
    }
    p.date{
        float: right;
    }
}