@import url(fonts.css);

body{
    background-image: url(/imgs/hacker.gif);
    font-family: Mindsight, sans-serif;
}

footer{
    color: rgb(56, 54, 54);
}

#back{
    float: left;
    text-decoration: none;
}

#content{
    text-align: center;
    background-color: aliceblue;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-style: ridge;
    border-color: aqua;
}