@font-face {
    font-family: Mindsight;
    src: url('/fonts/Mindsight.ttf');
}
@font-face {
    font-family: Departure NerdFont;
    src: url('/fonts/DepartureMonoNerdFont-Regular.otf');
}
@font-face {
    font-family: Hack NerdFont;
    src: url('/fonts/HackNerdFont-Regular.ttf');
}