body{
    background-image: url(/imgs/background.gif);
}

footer{
    color: rgb(56, 54, 54);
}

.postform,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .postform {
  display: block;
}
.date{
    float: right;
    text-align: right;
}

#message{
    text-align: left;
    width: 97%;
    margin: auto;
    border-radius: 3px;
    border-style: outset;
    margin-bottom: 1%;
}

#message.text{
    width: auto;
    margin: auto;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-radius: 1px;
    border-width: 1px;
}

.submitbutton{
    border-style: inset;
    margin-left: 2%;
    margin-bottom: 2%;
}

.answertext{
    margin-left: 2%;
}

.answerbox{
    border-style: inset;
}

.inputtitle{
    text-align: left;
    margin: auto;
    margin-left: 2%;
}

.inputbox{
    width: 94%;
    margin-left: 2%;
    border-style: inset;
}

.messageform{
    text-align: left;
}

.top{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 18px;
}

.letterlink{
    text-decoration: none;
    font-size: 15px;
}

#content{
    text-align: center;
    background-color: aliceblue;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    border-style: ridge;
    border-color: aqua;
}

#bookcontent{
    text-align: center;
    background-color: aliceblue;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    border-style: ridge;
    border-color: aqua;
}