body{
    background-image: url(/imgs/background.gif);
}

footer{
    color: rgb(56, 54, 54);
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
  }
  

#joe{
    float: left;
    text-decoration: none;
    color: white;
}

#content{
    text-align: center;
    background-color: aliceblue;
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    border-style: ridge;
    border-color: aqua;
}