body{
    background-image: url(/imgs/background.gif);
}

footer{
    color: rgb(56, 54, 54);
}

img{
    max-width: 75%;
    max-height: 75%;
}

#content{
    background-color: aliceblue;
    margin: auto;
    width: fit-content;
    border-style: ridge;
    border-color: aqua;
    overflow: hidden;
}